<div class="container">

    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/img3.webp" style="cursor: pointer;" alt="" routerLink='/employee'>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img4.webp" style="cursor: pointer;" alt="" routerLink='/employee'>

        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img1.webp" style="cursor: pointer;" alt="" routerLink='/employee'>

        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img2.webp" style="cursor: pointer;" alt="" routerLink='/employee'>

        </mat-grid-tile>
    </mat-grid-list>

</div>